.contaianer-profile{
  height: 900px;
}

.user{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user .user-image{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user .user-image image{
  border-radius: 100%;
}


